body {
    background-image: url("https://source.unsplash.com/1600x900/?nature,water");
    background-size: cover;
	background-position: center center; 
}

.container {
    display: flex;
    flex-direction: column;
    color:white;
}

.time {
    display: flex;
    font-size: 6rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    font-weight: 900;
}

.date {
    display: flex;
    font-size: 3rem;
    align-items: center;
    flex-wrap: wrap;

    font-weight: 700;
}



.big {
    margin: 0 1rem;
    line-height: 1;
}